
#test {
    color: #b84d00;
    border: 15px solid;
}

#pagebase {
    background: black;
    background-image: url(/images/3jQbonO-black-cool-background.jpg);
}



/* Grid setup ---------------------------------------------------- */

body{
    display: grid;
    grid-template-columns: 12 1fr;
    grid-auto-rows: minmax (5px, auto);
    padding: 5px;
    margin: 10px;
    grid-gap: 5px;
    grid-row-gap: 5px;
}

.header{
    grid-column: 1 / span 12;
    border: 10px ;
    border-style: solid;
    border-color: grey;
    padding: .1em 5% .1em;
    color: grey;
    
}

.headertext {
    color: grey;
    text-decoration: underline;
    font-style: italic;
}

.span6{
    grid-column: span 6;
    border-style: solid;
    border-color: blue;
    padding: 1em 5% 1em;
}



/* Menu group settings ---------------------------------------------- */
.menugrp {
    grid-column: 1 / span 12;
    color: #b84d00;
    padding: 3px;
}

.menugrp a {
    padding: .1em 5% .1em;
    box-sizing: border-box;
}
/* This section will change the color of links */
.menugrp a:link {
    color: #b84d00; 
    background-color: transparent; 
    text-decoration: none;
    font-size: large;
}

.menugrp a:visited {
    color: #b84d00;
    background-color: transparent;
    text-decoration: none;
    font-size: large;
}

.menugrp a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    font-size: large;
}

.menugrp a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    font-size: large;
}

/* Menu group settings ---------------------------------------------- */

.filler {
    
    border: 10px ;
    border-style: double;
    border-color: blue;
    padding: .1em 5% .1em;
    color: yellow;
    font-style: italic;

}

.filltext {
    
    color: lime;
    font-style: italic;
}